@{
    ViewData["Title"] = "Home Page";
}
@model Root

<div class="text-center">
     <img src="css/Rickandmorty.png">
</div>
<br>


<div class="inside-body">
<div class="container text-center">     
<div class="row">

<br>



            @foreach (var persona in @Model.results)
            {
                
                <div class="col-md-4">
                    <div class="card" style="width: 18rem; margin-bottom: 25px">
                        <img class="card-img-top" src=" @persona.image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> @persona.name</h5>
                            <p class="card-text"><b>Especie:</b> @persona.species </p>
                            <p class="card-text"><b>Genero:</b> @persona.gender </p>
                            <p class="card-text"><b>Origen:</b> @persona.origin.name </p>
                            <p class="card-text"><b>Localización:</b> @persona.location.name </p>   
                        </div>
                    </div>
                </div>
            }
</div>
</div>
</div>



